<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativeplugpagservicewrapper">

  <permission android:name="br.com.uol.pagseguro.permission.MANAGE_PAYMENTS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>
